@media screen  and (max-width: 1024px) {

    

.topbannerSection{
       
 
    width: 80% !important;
    left: 70px;
    margin: 0 auto;
    height: 35vh !important;
    border-radius: 15px !important;
    margin-top:35px !important;
}

.cWNHxl .headline{
      
    font-size: 30px !important;

}

}




